<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Messages</p>
    <ul>
      <% messages.forEach(function(message) { %>
        <li>
          <div><%= message.text %></div>
          <div><%= message.user %></div>
          <div><%= message.added %></div>
        </li>
      <% }); %>
    </ul>
    <a href="/new">New Message</a>
  </body>
</html>
